@{
    ViewBag.Title = "Tentang kami";
}

<div class="page-heading text-center">
    <div class="container zoomIn animated">
        @*<h1 class="page-title">Tentang Kami <span class="title-under"></span></h1>*@
    </div>
</div>

<div class="main-container">
    <div class="container">
        <div class="row fadeIn animated">
            @*<div class="col-md-3">
                    <img src="~/assets/images/about-us.jpg" alt="" class="img-responsive">
                </div>*@
            <h2 class="title-style-2">Tentang Kami <span class="title-under"></span></h2>
            <p>
                Seminar Nasional Sains dan Teknik (SAINSTEK) adalah Seminar Nasional yang diselenggarakan oleh Fakultas Sains dan Teknik, Universitas Nusa Cendana di Kupang, Nusa Tenggara Timur. Seminar ini dilaksanakan setiap 2 tahun sejak tahun 2012 dan tahun ini merupakan penyelenggaraan yang ke-3.
            </p>
            <br />

            <fieldset>
                <legend class="text-info"><strong>Susunan Kepanitiaan</strong></legend>

                <dl class="dl-horizontal panitia">
                    <dt>Pengarah</dt>
                    <dd>Prof. Ir. Fred L. Benu, M.Si., Ph.D<strong>Rektor Universitas Nusa Cendana</strong></dd>
                    <hr />

                    <dt>Penanggung Jawab</dt>
                    <dd>Drs. Hery Leo Sianturi, M.Si.<strong>Dekan FST Undana </strong></dd>
                    <dt></dt>
                    <dd>Drs. Theo Da Cunha, M.Si.<strong>Pembantu Dekan I FST Undana</strong></dd>
                      <dt></dt>
                    <dd>Jerry F. M. Bowakh, ST., MT.<strong>Pembantu Dekan II FST Undana</strong></dd>
                    <dt></dt>
                    <dd>Suliha I. Neonufa, ST., MT.<strong>Pembantu Dekan III FST Undana</strong></dd>
                </dl>
                <hr />

                <dl class="dl-horizontal panitia">
                    <dt>Ketua</dt>
                    <dd>Dr. Alfred O. M. Dima, M.Si.</dd>

                    <dt>Wakil Ketua</dt>
                    <dd>Dr. Kelvin Rantelobo, ST., MT.</dd>

                    <dt>Sekretaris</dt>
                    <dd>Meksianis Z. Ndii, Ph.D</dd>

                    <dt>Wakil Sekretaris</dt>
                    <dd>Amin Magang, ST, M.Eng.</dd>

                    <dt>Bendahara</dt>
                    <dd>Beby Manafe, ST. MT.</dd>

                    <dt>Wakil Bendahara</dt>
                    <dd>Ika Fitri Krisnasiwi, S.Si, M.Sc.P</dd>
                </dl>
                <hr />
                <dl class="dl-horizontal panitia sub">
                    <dt>Ketua Sie Kesekretariatan</dt>
                    <dd>Dr. Refli M.Sc</dd>

                    <dt>Ketua Sie Publikasi</dt>
                    <dd>Prof. Yohanes Buang, Ph.D</dd>

                    <dt>Ketua Sie Acara/Seminar</dt>
                    <dd>Dr. Jafaruddin, M.Si.</dd>

                    <dt>Ketua Sie Dana dan Kerjasama</dt>
                    <dd>Dr. Suwari, M.Si.</dd>

                    <dt>Ketua Sie Dokumentasi Perlengkapan</dt>
                    <dd>Silvester Tena, ST., MT.</dd>
                </dl>
            </fieldset>
        </div> <!-- /.row -->
    </div> <!-- /.about-us -->
</div>

@section FooterView{
    @Html.Partial("Footer")
}