@{
    ViewBag.Title = "Jadwal";
}

<div class="page-heading text-center">
    <div class="container zoomIn animated">
        @*<h1 class="page-title">@ViewBag.Title <span class="title-under"></span></h1>*@
    </div>
</div>


<fieldset>
    <legend class="text-info"><strong>Abstrak dan Makalah</strong></legend>
    <dl class="dl-horizontal jadwal">
        <dt>Batas Penerimaan Abstrak</dt>
        <dd>20 Agustus 2016</dd>

        <dt>Batas Pengumuman Abstrak yang diterima</dt>
        <dd>5 September 2016</dd>

        <dt>Batas Penerimaan Makalah</dt>
        <dd>25 September 2016</dd>

        <dt>Batas Akhir Penerimaan Makalah Revisi</dt>
        <dd>5 Oktober 2016</dd>
    </dl>
</fieldset>

<fieldset>
    <legend class="text-info"><strong>Acara Seminar (28 OKTOBER 2016)</strong></legend>
    <dl class="dl-horizontal jadwal">
        <dt>Registrasi Ulang</dt>
        <dd>07.00-08.30<strong>Panitia</strong></dd>

        <dt>Pembukaan dan sambutan</dt>
        <dd>08.30-09.30<strong>Diiringi pagelaran orkestra sasando, paduan suara Undana, dll</strong></dd>

        <dt>Coffee Break</dt>
        <dd>09.30-10.00<strong>Panitia</strong></dd>

        <dt>Keynote Speaker</dt>
        <dd>10.00-12.00<strong>Keynote Speaker</strong></dd>

        <dt>ISHOMA</dt>
        <dd>12.00-13.00<strong>Panitia</strong></dd>

        <dt>Keynote Speaker </dt>
        <dd>13.00-14.00<strong>Keynote Speaker</strong></dd>

        <dt>Paralel Session</dt>
        <dd>14.00-16.00<strong>Pemimpin ruangan/Moderator</strong></dd>

        <dt>Coffee Break/Poster Session</dt>
        <dd>16.00-16.20<strong>Panitia</strong></dd>

        <dt>Paralel Session</dt>
        <dd>16.20-18.00<strong>Pemimpin ruangan/Moderator</strong></dd>

        <dt>Istirahat </dt>
        <dd>18.00-19.00<strong>Panitia</strong></dd>

        <dt>GALA DINNER </dt>
        <dd>19.00-selesai<strong>Diiringi pagelaran orkestra sasando, paduan suara Undana, dll</strong></dd>
    </dl>
</fieldset>


<fieldset>
    <legend class="text-info"><strong>Acara Seminar (29 OKTOBER 2016)</strong></legend>
    <dl class="dl-horizontal jadwal">
        <dt>Registrasi Ulang</dt>
        <dd>08.00-09.00<strong>Panitia</strong></dd>

        <dt>Wisata Budaya ke Museum Provinsi NTT</dt>
        <dd>09.00-12.00<strong>Panitia</strong></dd>

        <dt>ISHOMA</dt>
        <dd>12.00-13.00<strong>Panitia</strong></dd>

        <dt>Wisata Budaya Ke Pusat Kerajinan dan Oleh-Oleh NTT serta Wisata Pantai</dt>
        <dd>13.00-selesai<strong>Panitia</strong></dd>
    </dl>
</fieldset>

@*@section FooterView{
    @Html.Partial("Footer")
}*@